head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='og:title' content=title)
    meta(name='og:type' content="website")
    meta(name='og:image' content="https://volgactf.ru/images/logo.png")
    meta(name='og:url' content='https://volgactf.ru/')
    meta(name='og:description' content="VolgaCTF")
    meta(http-equiv='Content-Language' content=locale)
    meta(name="keywords" content="volgactf ctf security")
    meta(name="description" content="VolgaCTF")
    title #{title}
    link(rel="stylesheet" href='/css/foundation.min.css')
    link(rel='stylesheet' href='/css/main.css')
    script(type='text/javascript' src='/js/jquery.min.js')
    script(type='text/javascript' src='/js/foundation.min.js')