head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='og:title' content=title)
    meta(name='og:type' content="website")
    meta(name='og:image' content="https://volgactf.ru/images/logo.png")
    meta(name='og:url' content='https://volgactf.ru/')
    meta(name='og:description' content="VolgaCTF")
    meta(http-equiv='Content-Language' content=locale)
    meta(name="keywords" content="volgactf ctf security")
    meta(name="description" content="VolgaCTF")
    title #{title}
    link(rel="stylesheet" href='/css/foundation.min.css')
    link(rel='stylesheet' href='/css/main.css')
    link(rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png")
    link(rel="manifest" href="/images/favicon/site.webmanifest")
    link(rel="shortcut icon" href="/images/favicon/favicon.ico")
    script(type='text/javascript' src='/js/jquery.min.js')
    script(type='text/javascript' src='/js/foundation.min.js')
    script(type='text/javascript' src='/js/main.js')
