doctype html
html(lang='en')
    include partials/head
    body
        div.grid-x.grid-padding-x
            div.small-12.cell.cell-text
                h1.main VolgaCTF 2018 Finals Info Page
                .
                    This is a small helper page for competition participants and guests
                hr

            div.small-12.cell.cell-text
                h1.main WiFi Network and password
                .
                    SSID: VolgaCTF2018
                br
                .
                    Password: VolgaCTF2018
                hr
            div.small-12.cell.cell-text
                h1.main Telegram chat
                a.font-bold(href="https://t.me/joinchat/ADM_UgwpuPgQKT92Ojtqog") VolgaCTF2018 Finals
                br
                br
                .
                    Secondary link for telegram chat(First may be blocked)
                br
                br
                a.font-bold(href='https://t-do.ru/joinchat/ADM_UgwpuPgQKT92Ojtqog') VolgaCTF2018 Finals(Secondary)

            div.small-12.cell-text.cell
                h1.main Conference and Competition location
                div.flex-video
                    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2372.2255091441107!2d50.090953660392486!3d53.189768113606206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x649e02e76b94a08b!2sHoliday+Inn+Samara!5e0!3m2!1sru!2sru!4v1537220473736', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')
