doctype html
- var availableLangs = locales.filter(x => x !== locale && !!lang(x))
- var localePath = locale==defaultLocale ? "" : "/"+locale
include mixins
html(lang=locale)
    include partials/head
    body.bg-third
        div
            +headerMenu(menu,locale,localePath,"ctf")
            - var transformedText = markdown_text(quals_text)
            section#quals_welcome.second_welcome_padding
                div.grid-x
                    div.large-offset-1.large-3.cell.cell-text
                        h1.main #{quals_header_main}
                        h1 #{quals_header_sub}
                        .
                            !{transformedText}
                        hr
        include partials/footer
